@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    overflow-y: auto !important;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.5em;
    line-height: 1.1;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }
}

.card {
    padding: 2em;
}

#app {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #230015;
        background-color: #ffffff;
    }

    a:hover {
        color: #ff7081;
    }

    button {
        background-color: #f9f9f9;
    }
}

.text-primary {
    color: rgb(var(--v-theme-primary));
}

.text-primary-darken-1 {
    color: rgb(var(--v-theme-primary-darken-1));
}

.nanum-pen-script-font {
    font-family: 'Nanum Pen Script', cursive;
}

.nanum-myeongjo-font {
    font-family: 'Nanum Myeongjo', serif;
}

.black-han-sans-font {
    font-family: 'Black Han Sans', sans-serif;
}


.incorrect {
    animation: wrong 1s linear 1;
}

@keyframes wrong {
    0% {
        background-color: rgb(var(--v-theme-incorrect));
        border-color: rgb(var(--v-theme-incorrect));
        transform: translateX(0) scale(1.1);

    }

    10% {
        background-color: rgb(var(--v-theme-incorrect));
        border-color: rgb(var(--v-theme-incorrect));
        transform: translateX(3px) scale(1.06);
    }

    20% {
        background-color: rgb(var(--v-theme-incorrect));
        border-color: rgb(var(--v-theme-incorrect));
        transform: translateX(-3px);
    }

    30% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    60% {
        transform: translateX(-3px);
    }

    70% {
        transform: translateX(0) scale(1);
    }

}

